################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/MVCDemos1/MVCDemos1/bin/roslyn
